<div class="container">
  <h1>Recipes</h1>
    <ul>
      <% @recipes.each do |recipe| %>
        <li><p><%= recipe.title %> <%= link_to 'Show',recipe_path(recipe) %></p></li>
      <% end%>
    </ul>
</div>