<div class="container">
  <h1>Recipes</h1>
    <ul>
      <% @recipes.each do |recipe| %>
        <li>
          <p>
            <%= recipe.title %> 
            <button type="button" class="btn btn-outline-secondary"><%= link_to 'Show',recipe_path(recipe) %></button>
          </p>
        </li>
      <% end%>
    </ul>

    <%= link_to "Create Recipe", new_recipe_path %>
</div>