  <h2>Create new category</h2>

  <%= render "form" %>

  <button type="button" class="btn btn-outline-secondary"><%= link_to "Back to Categories", categories_path %></button>
  <button type="button" class="btn btn-outline-secondary"><%= link_to "Back to Recipes", recipes_path %></button>
